
.wrapper{
	display:grid;
	
	/* 
	Note: another option for creating columns;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	*/

	grid-template-columns:repeat(4, 1fr);

	/* 
	Note: another way to create gaps
	grid-column-gap:1em; 
	grid-row-gap:1em; 
	*/

	grid-gap:1em;
	grid-auto-rows:220px;
}

.wrapper > div {
	background:#eee;
	/*padding:1em;*/
	border:#333 1px solid; 
}

/*.wrapper > div:nth-child(odd){
	background:#ddd;
}
*/